<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Turbulent Flux Flow Meter</title>
  <link rel="icon" type="image/png" href="/static/images/header-logo.png" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="/static/dist/styles.css" />
</head>

<body>

    <h1>TF admin page</h1>
    <p>TODO: build this admin page.</p>

  <div id="app"></div>
  <!-- <script src="/static/dist/bundle.js"></script> -->
</body>

</html>